.top{
	width:40%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	
}
.bottom
{
	width:32%;
	height:auto;
	margin-left:auto;
	margin-right:auto;	
	border:10px;
	border-color:blue;
	border-style: solid;
	padding: 40px;
	
	
}